:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

div.buttons {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.btn-rock,
.btn-paper,
.btn-scissors {
  width: min-content;
  height: min-content;
}

button span {
  font-size: 6rem;
}
