:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

header > h1 {
  text-align: center;
}

div.buttons {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.btn-rock,
.btn-paper,
.btn-scissors {
  width: 160px;
  height: 160px;
}

button span {
  font-size: 6rem;
}
